@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --color-heading: #3e36c7;
  --color-background: bg-gray-600;
  --color-secondaryButton: #425feb;
}

:root {
  font-family: "Comfortaa", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
